<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">name</label><input type="text" class="form-control"></div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">rollno</label><input type="text" class="form-control"> </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">college</label><input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">mobile no</label><input type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <label for="" class="form-label">parent name</label><input type="text" class="form-control">
        </div>
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-">
        <label for="" class="form-label"></label><button class="btn btn-success">register</button>
    </div>
    </div>
</div>

        </div>
    </div>
</div>
